@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed&display=swap");

#nav-vrap {
  width: 110%;
  padding-top: 5vh;
  padding-bottom: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: top;
  background-image: url(main-background.png);
  background-attachment: fixed;
  background-position: 50% 80%;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo {
  position: absolute;
  width: 60px;
  height: 63px;
  left: 360px;
  top: 35px;
  margin-top: 1.4rem;
}

li {
  display: inline;
  margin: 6em 3em 6em 3em;
}
li a {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

li a:hover {
  border-bottom: 1px solid #00b2a0;
}

#logo {
  position: absolute;
  position: relative;
  width: 60px;
  height: 63px;
  left: 0;
  top: 0;
}

header h1 {
  position: relative;
  width: 654px;
  height: 235px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  letter-spacing: 0.6px;
  margin-bottom: -0.1em;
  color: #0d302c;
}
header h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;

  color: #000000;
}

#feather {
  margin-top: 7em;
}
