nav {
  display: grid;
  grid-template-columns: 2fr 4fr 5fr 2fr 0.5fr 2fr 1fr 3fr repeat(3, 1fr) 2fr;
  grid-template-rows: 1;
  align-items: center;
  margin-top: 2rem;
}

.nav-logo {
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
}
.nav-time {
  grid-column: 4/5;
  text-align: right;
}
.nav-number {
  grid-column: 8/9;
}
.nav-middle-point-down {
  text-align: center;
}

.header-photos {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  grid-gap: 9px;
  height: 60%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 65% 35%;
}
.img-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.img-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.img-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
section.partnership {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 4fr 2fr 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "left logo1 logo2 logo3 logo4 logo5 right";
  justify-items: center;
  align-items: center;
}
.left-scroll {
  grid-area: left;
}
.right-scroll {
  grid-area: right;
}
.logo1 {
  grid-area: logo1;
}
.logo2 {
  grid-area: logo2;
}
.logo3 {
  grid-area: logo3;
}
.logo4 {
  grid-area: logo4;
}
.logo5 {
  grid-area: logo5;
}
section.shadow-gallery {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  grid-template-areas:
    "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5";
}
.sh-gallery-img-1 {
  grid-area: img1;
}
.sh-gallery-img-2 {
  grid-area: img2;
}
.sh-gallery-img-3 {
  grid-area: img3;
}
.sh-gallery-img-4 {
  grid-area: img4;
}
.sh-gallery-img-5 {
  grid-area: img5;
}

div.hall-gallery {
  width: 89vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  grid-gap: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
div.shadow-block {
  grid-column: 1/2;
  grid-row: 1/2;

  width: 393px;
  height: 393px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  border-radius: 1rem;
}
div.shadow-text {
  margin: 1.5rem;
}

img#shadow-img {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 0;
}

div.points {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

div.activ-point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
}
div.inactive-point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
button.gallery {
  width: 250px;
  height: 64px;
  margin-top: 1rem;
  margin-left: 43.5%;
  margin-right: 43.5%;
  margin-bottom: 1.5rem;
  background: #79c4e6;
  border-radius: 101px;
  border-color: white;
  color: white;
}

section.map-section {
  width: 89vw;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

section.roadmap {
  width: 98vw;
  height: 80vh;

  background: url("images/roadmap.png") no-repeat center/cover;
  overflow: hidden;
  position: relative;
}

section.roadmap div.contacts {
  width: 20%;
  height: 70%;
  left: 13%;
  top: 20%;
  position: absolute;
  background-color: white;
  display: grid;
  grid-template-rows: [header-start] 3fr [header-end logo1-start] 2fr [logo1-end logo2-start] 2fr [logo2-end logo3-start] 2fr [logo3-end] 4fr [socialnets-end];
  grid-template-columns: 1fr [content-start logo-start] 1fr [logo-end] 4fr [content-end] 1fr;
  grid-gap: 15px;
  justify-items: normal;
  align-items: center;
  border-radius: 10px;
}

.contacts-text-header {
  grid-row: header-start / header-end;
  grid-column: content-start / content-end;
  justify-self: center;
}

.contacts-img-mail {
  grid-row: logo1-start / logo1-end;
  grid-column: logo-start / logo-end;
}
.contacts-text-mail {
  grid-row: logo1-start / logo1-end;
  grid-column: logo-end / content-end;
}

.contacts-img-location {
  grid-row: logo2-start / logo2-end;
  grid-column: logo-start / logo-end;
}

.contacts-text-location {
  grid-row: logo2-start / logo2-end;
  grid-column: logo-end / content-end;
}
.contacts-img-phone-number {
  grid-row: logo3-start / logo3-end;
  grid-column: logo-start / logo-end;
}
.contacts-text-phone-number {
  grid-row: logo3-start / logo3-end;
  grid-column: logo-end / content-end;
}

.socialnets {
  grid-row: logo3-end / socialnets-end;
  grid-column: logo-end / content-end;
  margin-left: -1rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

footer {
  margin-top: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 6rem;
}

.forth-footer-section {
  margin-top: -2rem;
}

.first-footer-section {
  margin-top: -1rem;
}
