@import url("https://fonts.cdnfonts.com/css/intro");

.main__header {
  font-family: "Intro Demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #000000;
}
