@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.section__description {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;

  max-width: 95%;

  color: #000000;
}
